
.text-justify {
    text-align: justify;
}

.paragraph-size-33 {
    margin-inline-start: 33%;
}

.text-align-last-right {
    text-align-last: right;
}

.post-date {

    font-size: 0.9rem;

    color: #777;

    margin-bottom: 0.4rem;

    letter-spacing: 0.08em;

}

.blog-post {

    margin-top: 2rem;

}

.blog-post + p {

    margin-top: 3rem;

}
