{% extends "base.njk" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extraCss %}
<link
    rel="stylesheet"
    href="/assets/css/blog.css">
{% endblock %}

{% block pageContent %}

<p class="post-date">

    {{ page.date | date: "%Y-%m-%d" }}

</p>

<h1>

    {{ title }}

</h1>

<hr>

<article class="blog-post">

    {{ content | safe }}

</article>

<p>

    <a href="/">

        ← Back to Home

    </a>

</p>

{% endblock %}
