{#
========================================================

Arquivo:
layouts/base.njk

Objetivo:
Layout base utilizado por todas as páginas do site.

Responsabilidades:

- Estrutura HTML comum.
- CSS global.
- Barra lateral.
- Área principal do conteúdo.

Layouts especializados (como blog.njk)
herdam deste arquivo.

========================================================
#}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            {{ title or "Meu Site" }}
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="/assets/css/style.css">

    {% block extraCss %}{% endblock %}

</head>

<body>

<div class="layout">

    <aside class="sidebar">

        <nav>

    <ul>

        {% for item in navigation %}

            <li>

                <a href="{{ item.url }}">

                    {{ item.title }}

                </a>

            </li>

        {% endfor %}

    </ul>

</nav>

    </aside>

    <main class="content">

        {% block body %}

            {% block pageContent %}
                {{ content | safe }}
            {% endblock %}

        {% endblock %}

    </main>

</div>

</body>

</html>
