{% extends "base.njk" %}

{% block title %}

    {{ title }}

{% endblock %}

{% block extraCss %}

<link
    rel="stylesheet"
    href="/assets/css/blog.css">

{% endblock %}

{% block pageContent %}

{% set previousPost = collections.blog | getPreviousCollectionItem %}
{% set nextPost = collections.blog | getNextCollectionItem %}

<p class="post-date">

    {{ date }}

</p>

<h1>

    {{ title }}

</h1>

<hr class="post-header-divider">

<article class="blog-post">

    {{ content | safe }}

</article>

<hr class="post-content-divider">

<nav class="post-navigation">

    <div>

        {% if previousPost %}

            <a href="{{ previousPost.url }}">

                ← Previous

            </a>

        {% endif %}

    </div>

    <div>

        {% if nextPost %}

            <a href="{{ nextPost.url }}">

                Next →

            </a>

        {% endif %}

    </div>

</nav>

{% endblock %}
